
.container{
    display: flex;
    background-color: rgb(96, 100, 105);
    width: 800px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 250px;
    padding: 20px 20px;
    color: white;
}
#title{
    text-align: center;
    color: white;
}
body{
    background-color: rgb(54, 60, 68);
}
.text{
    margin-left: 20px;
}
